In [16]:
library(tidyverse)
library(nycflights13)

# Estruturação de dados
Será feita uma estruturação de um novo conjunto de dados baseando-se em 3 grandes conjuntos sobre companias aéreas, unificando os dados mais relevantes em um conjunto de dados para análises futuras

### Colhendo amostras dos datasets
cada conjunto de dados a seguir contém um pouco mais de 300.000(trezentos mil) registros, no entanto, será coletada amostras de 10.000(dez mil) registros.

In [8]:
voos <- flights[1:10000,]
aeronaves <- planes[1:10000,]
clima <- weather[1:10000,]

## Visualizando os dataframes a serem trabalhados
### Conjunto de dados dos vôos

In [9]:
voos[1:2,]

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515            2         830      819
2 2013 1     1   533      529            4         850      830
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00

### Conjunto de dados das aeronaves

In [10]:
aeronaves[1:2,]

  tailnum year type                    manufacturer     model     engines seats
1 N10156  2004 Fixed wing multi engine EMBRAER          EMB-145XR 2        55
2 N102UW  1998 Fixed wing multi engine AIRBUS INDUSTRIE A320-214  2       182
  speed engine
1 NA    Turbo-fan
2 NA    Turbo-fan

### Conjunto de dados do clima

In [11]:
clima[1:2,]

  origin year month day hour temp  dewp  humid wind_dir wind_speed wind_gust
1 EWR    2013 1     1   1    39.02 26.06 59.37 270      10.35702   NA
2 EWR    2013 1     1   2    39.02 26.96 61.63 250       8.05546   NA
  precip pressure visib time_hour
1 0      1012.0   10    2013-01-01 01:00:00
2 0      1012.3   10    2013-01-01 02:00:00

### Selecionando as colunas mais relevantes do conjunto de dados de vôos

In [12]:
df <- select(voos, c(flight,tailnum,carrier,origin,dest,distance,time_hour))
df[1:3,]

  flight tailnum carrier origin dest distance time_hour
1 1545   N14228  UA      EWR    IAH  1400     2013-01-01 05:00:00
2 1714   N24211  UA      LGA    IAH  1416     2013-01-01 05:00:00
3 1141   N619AA  AA      JFK    MIA  1089     2013-01-01 05:00:00

### Adicionando a coluna seats(assentos) ao conjunto de dados de vôos

In [13]:
df <- df %>% left_join(y= aeronaves[,c(1,7)] , by = "tailnum" )
df[1:3,]

  flight tailnum carrier origin dest distance time_hour           seats
1 1545   N14228  UA      EWR    IAH  1400     2013-01-01 05:00:00 149
2 1714   N24211  UA      LGA    IAH  1416     2013-01-01 05:00:00 149
3 1141   N619AA  AA      JFK    MIA  1089     2013-01-01 05:00:00 178

### Selecionando as colunas mais relevantes do conjunto de dados de clima

In [14]:
clima <- clima %>% select(c(time_hour,visib,humid,temp))
clima[1:2,]

  time_hour           visib humid temp
1 2013-01-01 01:00:00 10    59.37 39.02
2 2013-01-01 02:00:00 10    61.63 39.02

### Adicionando as colunas do conjunto de dados clima ao conjunto de dados de vôos

In [15]:
df <- df %>% inner_join(y = clima, by = "time_hour")
names(df) <- c("n.voo","id_Aeronave","linha_aerea","origem","destino","distancia","data_e_hora","assentos_aeronave","visibilidade","umidade","temperatura")
head(df)

  n.voo id_Aeronave linha_aerea origem destino distancia data_e_hora
1 1545  N14228      UA          EWR    IAH     1400      2013-01-01 05:00:00
2 1545  N14228      UA          EWR    IAH     1400      2013-01-01 05:00:00
3 1714  N24211      UA          LGA    IAH     1416      2013-01-01 05:00:00
4 1714  N24211      UA          LGA    IAH     1416      2013-01-01 05:00:00
5 1141  N619AA      AA          JFK    MIA     1089      2013-01-01 05:00:00
6 1141  N619AA      AA          JFK    MIA     1089      2013-01-01 05:00:00
  assentos_aeronave visibilidade umidade temperatura
1 149               10           64.43   39.02
2 149               10           61.63   39.02
3 149               10           64.43   39.02
4 149               10           61.63   39.02
5 178               10           64.43   39.02
6 178               10           61.63   39.02